* {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  box-sizing: border-box;
}
section {
  height: 100vh;
  width: 100%;
  color: #fff;
  font-size: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/building.jpeg");
  background-size: cover;
}
.cat {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/cat.jpeg");
  background-size: cover;
}
.forest {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/forest.jpeg");
  background-size: cover;
}
.dog {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/dog.jpeg");
  background-size: cover;
}
